.parent {
  /* padding: 20px; */
  border: 2px solid black;
  width: 150px;
  height: 150px;
  overflow: auto;
  /* white-space: nowrap; */
}

ul > li {
  /* border: 1px solid red; */
  padding: 5px;
}

#border {
  border: 1px solid red;
}
#border-non {
  border: 0;
}
